.input-wrapper-fit {
    max-width: 6rem;

    .fi-input-wrp-input {
        width: 100% !important;

        .fi-input {
            width: 100% !important;
        }
    }
}

.max-w-20 {
    max-width: 5rem;
}
